<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623575629033-jc1cc31024s3i3m3qosafl1s9atd9pj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623575629033-jc1cc31024s3i3m3qosafl1s9atd9pj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAg7V8u2YWWFw8MmeQHjLzgcG5uMXkJJ0A</string>
	<key>GCM_SENDER_ID</key>
	<string>623575629033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7rl.HSE</string>
	<key>PROJECT_ID</key>
	<string>hseapp-51c4b</string>
	<key>STORAGE_BUCKET</key>
	<string>hseapp-51c4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623575629033:ios:33212daf89fdd21f760478</string>
</dict>
</plist>